header
  nav.navbar.navbar-light.bg-light
    .col
      span.navbar-brand.mb-0.h1 C2G Consulting
    .col
      ul.nav.justify-content-end
        li.nav-item
          a.nav-link.active(href="/auth/login") Login
        li.nav-item
          a.nav-link(href="/auth/signup") Sign Up

