extends index

block content
  main
    //- h1 Dashboard
    h5.gray Welcome back, Processor!

    h1 Pending Applications
      ul
        li: a(href='/users/processor/drivers/abdul') Abdul Ahmed
        li: a(href='#') John Doe
        li: a(href='#') Jane Doe
        li: a(href='#') Foo Bar
        li: a(href='#') Chinedu Emeka
        li: a(href='#') Williams Prince
          